{% extends "layout.html" %}
{% block content %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
	<body>
		<div class="header">
			<h1 class="header">Visualisation</h1>
		</div>

		<div id="graph_field" class="mainpage">
			<canvas id="graphJS" class="graph"></canvas>
		</div>

		<div class="mainpagetoolbar">
			<div id="accordion">
				<div class="card">
					<div class="card-header" id="heading1">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
								Cities
							</button>
						</h5>
					</div>
					<div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
						<div class="card-body">
							<select id="cities" size="1" name="city" onchange='plot_graph_from_json(city=null, model=JSON.parse(`{{models|tojson}}`), date=true, field=JSON.parse(`{{fields|tojson}}`))'>
								<option disabled>Choose the city</option>
								{% for key in cities %}
									<option value="{{ key }}">{{ cities[key] }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="heading2">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="t" aria-controls="collapse2">
								Date
							</button>
						</h5>
					</div>
					<div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
						<div class="card-body">
							<h5 class="param">
								Use Date From<sup><i data-toggle="tooltip" title="Определяет с какой даты данные используются в обучении." class="fa fa-question-circle-o"></i></sup>
							</h5>
							<input type="date" id="use_date_from" name="use_date_from" onchange='plot_graph_from_json(city=null, model=JSON.parse(`{{models|tojson}}`), date=true, field=JSON.parse(`{{fields|tojson}}`))'/>
							
							<h5 class="param">
								Use Date To<sup><i data-toggle="tooltip" title="Определяет до какой даты данные используются в обучении." class="fa fa-question-circle-o"></i></sup>
							</h5>
							<input type="date" id="use_date_to" name="use_date_to" onchange='plot_graph_from_json(city=null, model=JSON.parse(`{{models|tojson}}`), date=true, field=JSON.parse(`{{fields|tojson}}`))'/>
							
							<h5 class="param">
								Predict Date To<sup><i data-toggle="tooltip" title="Определяет до какой даты делать прогноз." class="fa fa-question-circle-o"></i></sup>
							</h5>
							<input type="date" id="predict_date_to" name="predict_date_to" onchange='plot_graph_from_json(city=null, model=JSON.parse(`{{models|tojson}}`), date=true, field=JSON.parse(`{{fields|tojson}}`))'/>

							<h5 class="param">
								Plot Date From<sup><i data-toggle="tooltip" title="Определяет с какой даты данные выводить на графике." class="fa fa-question-circle-o"></i></sup>
							</h5>
							<input type="date" id="plot_date_from" name="plot_date_from" onchange='plot_graph_from_json(city=null, model=JSON.parse(`{{models|tojson}}`), date=true, field=JSON.parse(`{{fields|tojson}}`))'/>
							
							<h5 class="param">
								Plot Date To<sup><i data-toggle="tooltip" title="Определяет до какой даты данные выводить на графике." class="fa fa-question-circle-o"></i></sup>
							</h5>
							<input type="date" id="plot_date_to" name="plot_date_to" onchange='plot_graph_from_json(city=null, model=JSON.parse(`{{models|tojson}}`), date=true, field=JSON.parse(`{{fields|tojson}}`))'/>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="heading3">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="t" aria-controls="collapse3">
								Models
							</button>
						</h5>
					</div>
					<div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
						<div class="card-body">
							<div id="accordion_models">
								{% for key in models %}
									<div class="card">
										<div class="card-header" id="heading_models_{{ key }}">
											<h5 class="mb-0">
												<input type="checkbox" id="checkbox_models_{{ key }}" name="models_{{ key }}" onchange='plot_graph_from_json(city=null, model=JSON.parse(`{{models|tojson}}`), date=true, field=JSON.parse(`{{fields|tojson}}`))'>
												<br>
												<button for="models_{{ key }}" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_models_{{ key }}" aria-expanded="t" aria-controls="collapse_models_{{ key }}" style="word-break: break-all; white-space: normal;">
													{{ models[key]["name"] }}</
												</button>
											</h5>
										</div>
										<div id="collapse_models_{{ key }}" class="collapse" aria-labelledby="heading_models_{{ key }}" data-parent="#accordion_models">
											<div class="card-body card-body-width">
												<button type="button" class="symbols" style="font-size: 18px;" onclick='plot_graph_from_json(city=null, model=JSON.parse(`{{models|tojson}}`), date=true, field=JSON.parse(`{{fields|tojson}}`))'>
														<i class="fa fa-refresh"></i>
												</button>
												{% for par in models[key]["parameters"] %}
													<h5 class="param">
														{{par}}<sup><i data-toggle="tooltip" title="{{ models[key]['parameters'][par]['description']}}" class="fa fa-question-circle-o"></i></sup>
													</h5>

													{% if models[key]["parameters"][par]['type'] == 'choise' %}
														{% for val in models[key]["parameters"][par]['values'] %}
															{% if models[key]["parameters"][par]['default'] == val%}
																<input type="radio" id="checkbox_models_{{ key }}_params_{{ par }}_{{ val }}" name="checkbox_models_{{ key }}_params_{{ par }}" checked>
															{% else %}
																<input type="radio" id="checkbox_models_{{ key }}_params_{{ par }}_{{ val }}" name="checkbox_models_{{ key }}_params_{{ par }}">
															{% endif %}
															<label for="checkbox_models_{{ key }}_params_{{ par }}_{{ val }}">{{val}}</label>
															<br>
														{% endfor %}
													{% endif %}
													{% if models[key]["parameters"][par]['type'] == 'continues' %}
														<input type="number" step="0.01" min="{{ models[key]['parameters'][par]['min'] }}" max="{{ models[key]['parameters'][par]['max'] }}" value="{{ models[key]['parameters'][par]['default'] }}" name="models_{{ key }}_params_{{ par }}" id="models_{{ key }}_params_{{ par }}">
													{% endif %}
												{% endfor %}
												

											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="heading4">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="t" aria-controls="collapse4">
								Fields
							</button>
						</h5>
					</div>
					<div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
						<div class="card-body">
							{% for key in fields %}
									<input type="checkbox" id="checkbox_fields_{{ key }}" name="fields_{{ key }}" onchange='plot_graph_from_json(city=null, model=JSON.parse(`{{models|tojson}}`), date=true, field=JSON.parse(`{{fields|tojson}}`))' checked>
								<label for="fields_{{ key }}">{{ fields[key] }}</label>
								<br>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		plot_graph_from_json(null, null, false, JSON.parse(`{{fields|tojson}}`))
		set_date("predict_date_to", `{{default_dates["predict_date_to"]}}`);
		set_date("use_date_to", `{{default_dates["use_date_to"]}}`);
		set_date("use_date_from", `{{default_dates["use_date_from"]}}`);
		set_date("plot_date_to", `{{default_dates["use_date_to"]}}`);
		set_date("plot_date_from", `{{default_dates["use_date_from"]}}`);

		$('[data-toggle="tooltip"]').tooltip();
	</script>
{% endblock %}